# enable line ending normalization
* text=auto

# Files that explicitly need windows line endings
*.bat text eol=crlf
*.cmd text eol=crlf
*.nuspec text eol=crlf

# files that explcitly need linux line endings
*.sh text eol=lf
bin/nodist text eol=lf